name: Lint

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install the project
      run: |
        uv sync --all-extras --dev
    - name: Analysing the code with ruff
      run: uv run ruff check $(git ls-files '*.py')
    - name: Analysing the code with pylint
      run: uv run pylint $(git ls-files '*.py')
    - name: Analysing the code with mypy
      run: uv run mypy --follow-untyped-imports --pretty --show-error-codes --show-error-context $(git ls-files '*.py')
    - name: Analysing the code with pyright
      run: uv run pyright $(git ls-files '*.py')
